.container {
    width: 100vw;
    position: fixed;
    top: 0;
    height: 8vh;
    background-color: #b24724;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    margin: 1rem;
    border-bottom: 1px solid black;
    color: black;
    cursor: pointer;
    opacity: 100%;
}